body{
    background-color: #7A86B6;
}
.CardContainer{
    width: 90%;
    margin-top: 1rem;
    background-color: #495C83;
    border-radius: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainCardContainer{
    display: flex;
    justify-content: center;
    height: auto;
}

.neighbourCardCountainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.neighbourCountry{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainCountry{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}